graph {
	fill-color: #c0c0c0;
}

node.C {
	size: 25px, 25px;
	shape: box;
	fill-color: red;
	stroke-mode: plain;
	stroke-color: black;
}

node.N {
	size: 15px, 15px;
	shape: circle;
	fill-color: blue;
	stroke-mode: plain;
	stroke-color: black;
}

node.E {
	size: 7px, 7px;
	shape: triangle;
	fill-color: green;
	stroke-mode: plain;
	stroke-color: black;
}